############################
# Unity generated folders
############################

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

############################
# Unity cache
############################

MemoryCaptures/
Recordings/

############################
# Visual Studio / VSCode
############################

.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

############################
# Rider / JetBrains
############################

.idea/

############################
# OS files
############################

.DS_Store
Thumbs.db

############################
# Unity crash reports
############################

sysinfo.txt

############################
# Builds
############################

*.apk
*.aab
*.unitypackage

############################
# Video files (muy importante en tu caso)
############################

*.mp4
*.mov
*.avi
*.mkv
*.webm

############################
# Large image exports
############################

*.exr
*.tiff

############################
# Optional: keep empty folders
############################

!*/.gitkeep

# Unity generated / build debug
*_BurstDebugInformation_DoNotShip/
############################
# External video folders
############################

Assets/Video/
Assets/Videos/

############################
# Executables accidentales
############################

*.exe
###########################
# Unity generated build folders
############################

.utmp/
*_BackUpThisFolder_ButDontShipItWithYourGame/

############################
# Compressed backups
############################

*.zip
*.rar
*.7z
# Unity recovery
Assets/_Recovery/

# Meta de archivos comprimidos ignorados
*.zip.meta
*.rar.meta
*.7z.meta

# Archivos fuente de cámara Insta360, si no son necesarios en Unity
*.insp